@import url(http://fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic);

* {
    box-sizing: border-box;
}

html, body {
    line-height: 1.42857143;
    margin: 0;
    padding: 0px;
    background-color: #fffffc;   
    font-size: 15px;
    height: 100%;
    color: #505050;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
}

ul, ol {
    margin-top: 0px;
    margin-bottom: 10px;
}


b, strong {
    font-weight: 700;
}

p {
    margin: 0px 0px 10px;
}

h1, h2, h3, h4, h5 {
    font-family: 'PT Serif', Georgia;
    color: #3b3b3b;
    background: url('../img/dotted-border.png') repeat-x scroll left bottom transparent;
    padding-bottom: 6px;
    line-height: 1.1;
    font-weight: 500;
}

h2, .h2 {
    font-size: 24px;
}
h3, .h3 {
    font-size: 22px;
}
h4, .h4 {
    font-size: 18px;
}
h1, h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

dt,
dd {
    line-height: 1.42857143;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 0;
}

blockquote {
    color: #777;
    font-size: 15px;
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}

blockquote footer,
blockquote small,
blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
    content: '\2014 \00A0';
}


.container {
    width: 730px;
    margin: 0 auto;
}

@media (max-width: 760px) {
  .container {
    margin:0 5% 0 5%;
    width: 90%;
  }
}


img {
    vertical-align: middle;
}

.link, a {
    color: #d55; /*#dd6660*/
    outline: none;
    text-decoration: none;
}

.header-link .link {
    margin-left: 3px;
}

a:visited, a:focus {
    text-decoration: none;
    outline: none;
    color: #d55; /*#dd6660*/
}

a:hover {
    color: #c00; /* #e44 2a6496 */
    outline: none;
    text-decoration: underline;
}

.page {
    min-height: 100%;
    padding-bottom: 4em;
}

.header {
    background-color: #281f1f;
    text-align: center;
    box-shadow: gray 0px 0px 5px;
    margin-bottom: 35px;
    padding-top: 7px;
    padding-bottom: 9px;
}

.navbar-desc {
    font-family: Verdana, sans-serif;
    margin-top: -4px;
    letter-spacing: 1px;
    font-size: 13px;
    color: #f6f6eb;
}

.post-header {
    margin: 0px 0px 0px;
}

.archive-header {
    font-weight: 700;
}

.post-date {
    font-family: "PT Serif", serif;
    font-weight: bold;
    color: #e0e0e0;
    font-size: 20px;
    margin-top: 3px;
    margin-right: 3px;
    letter-spacing: -2px;
}

.post-metadata {
    clear: both;
    font-size: 13px;
    margin-top: 0px;
    margin-left: 15px;
}

.post-metadata a {
    text-transform: lowercase;
}

.post-comments {
    clear: both;
    margin-top: 25px;
}

.post-content {
    clear: both;
    padding-top: 15px;
    font-size: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.search-query {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-bottom: 0px;
    height: 34px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.btn {
    vertical-align: middle;
}

footer {
    display: block;
}

.footer-wrapper {
    position: relative;
    clear: both;
    height: 4em;
    margin-top: -4em;
    text-align: center;
    border-top: 1px solid #CCC;
    text-transform: uppercase;
    background-color: #F0F0F0;
    padding-top:9px;
    font-size: 14px;
}

.footer {
    padding: 0px;
    margin-bottom: 2px;
    display: block;
    font-size: 12px;
    color: gray;
}


.footer > a {
    color: gray;
    margin-right: 7px;
}

.search-box {
    margin-top: 7%;
    margin-bottom: 9%;
    text-align: center;
    white-space: nowrap;
}

.recent-post-header {
    margin: 0px 20px 14px;
    padding-bottom: 4px;
    background: url('../img/dotted-border.png') repeat-x scroll left bottom transparent;
    clear: both;
}

.recent-post-header h4 {
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background: none;
    float: left;
}

.recent-post-header .tags {
    padding-top: 2px;
    font-size: 14px;
    letter-spacing: -0.3px;
    text-align: right;
    text-transform: lowercase;
}

a.header-link {
    font-family: 'PT Serif', Georgia;
    color: #4f4f4f;
}

a.header-link:hover {
    text-decoration: none;
    color: #000;
}

.align-right {
    float: right;
    margin-left: 10px;
}

.align-left {
    float: left;
    margin-right: 10px;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.archive-wrapper {
    margin-bottom: 35px;
}

.pagination-wrapper {
    text-align: left;
    margin: -25px 20px 3px;
    font-size: 13px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


.pagination {
    border-radius: 1px;
    padding: 0;
    margin: 0;
    margin-top: 35px;
    font: 12px/1 'Open Sans', sans-serif;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}   

.pagination li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.pagination > li > a,
.pagination > li > span {
    padding: 8px 15px 9px 15px;
    background-color: #f1f1f1;
    border: 1px solid #dcdcdc;
    border-radius: 1px;
    color: #333;
    margin-right: 8px;
    text-decoration: none;
    text-align: center;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    color: inherit;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    padding: 8px 15px 9px 15px;
    background: #fffffc;
    border: 1px solid #dcdcdc;
    border-radius: 1px;
    color: #333;
    margin-right: 8px;
    text-align: center;
}   

table.highlighttable {
    margin: auto;
    table-layout: fixed;
    width: calc(100% - 20px);
}

td.linenos {
    width: 35px;
    vertical-align: top;
    text-align: right;
}

pre {
    font-family: 'Consolas','DejaVu Sans Mono','Bitstream Vera Sans Mono',monospace;
    font-size: 12.5px;
    display: block; 
    padding: 9.5px; 
    margin: 0 10px 10px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.linenos pre {
    margin: 0 0 10px;
    border-right: 1px solid #d5d5d5;
    background-color: transparent;
    padding-right: 8px;
    padding-left: 12px;
    color: #666;
    background-color: #f0f0f0;
    border-radius: 4px 0px 0px 4px;
}

.code pre {
    margin: 0 0 10px;
    padding-left: 7px;
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    overflow-x: auto;
}

.docutils dd {
    padding-left: 3em;
    margin-bottom: 10px;
}