{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/tipuesearch.css">
{% endblock %}
{% block content %}
{% block content_title %}
          <h2 class="post-header">{{ RECENT_POSTS_TITLE }}</h2>
{% endblock %}
          <div class="post-content">
            {% include "searchform.html" %}
            {% for article in articles[:7] %}
            <div class="recent-post-header">
              <h4><a class="header-link" href="{{ SITEURL }}/{{ article.url }}">{{article.title}}<span class="link">&raquo;</span></a></h4>          
              <div class="tags">
              {% for tag in article.tags[:3] %}
                <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
              {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div> 
{% endblock content %}